server:
  port: 8080
# spring 配置
spring:
  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: guest
    password: guest
  ai:
    openai:
      base-url: https://api.deepseek.com
      api-key: sk-f915a54104834ced9d47a554c91377e0
      chat:
        options:
          model: deepseek-chat
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: password
    url: jdbc:mysql://localhost:3306/kuikuioj
  mail:
    host: smtp.qq.com
    protocol: smtp
    username: 3076749522@qq.com
    password: dlcavisozykodfjb
    default-encoding: utf-8
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  data:
    redis:
      host: localhost
      database: 0
      port: 6379
# 持久层设置
mybatis-plus:
  mapper-locations: classpath:space/kuikui/oj/mapper/*.xml
  configuration:
    map-underscore-to-camel-case: false
   # log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: isDelete #
      logic-delete-value: 1
      logic-not-delete-value: 0
# 代码沙箱设置
code:
  default: remote
# jwt设置
jwt:
  sign: 512420
  timeAccess: 2592000000